@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  box-sizing: border-box; }

body {
  background: #C5DDEB;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: white; }

.container {
  margin: 0 auto;
  width: 750px;
  background: #444753;
  border-radius: 5px; }

.people-list {
  width: 260px;
  float: left; }
  .people-list .search {
    padding: 20px; }
  .people-list input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6A6C75;
    width: 90%;
    font-size: 14px; }
  .people-list .fa-search {
    position: relative;
    left: -25px; }
  .people-list ul {
    padding: 20px;
    height: 770px; }
    .people-list ul li {
      padding-bottom: 20px; }
  .people-list img {
    float: left; }
  .people-list .about {
    float: left;
    margin-top: 8px; }
  .people-list .about {
    padding-left: 8px; }
  .people-list .status {
    color: #92959E; }

.chat {
  width: 490px;
  float: left;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651; }
  .chat .chat-header {
    padding: 20px;
    border-bottom: 2px solid white; }
    .chat .chat-header img {
      float: left; }
    .chat .chat-header .chat-about {
      float: left;
      padding-left: 10px;
      margin-top: 6px; }
    .chat .chat-header .chat-with {
      font-weight: bold;
      font-size: 16px; }
    .chat .chat-header .chat-num-messages {
      color: #92959E; }
    .chat .chat-header .fa-star {
      float: right;
      color: #D8DADF;
      font-size: 20px;
      margin-top: 12px; }
  .chat .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 575px; }
    .chat .chat-history .message-data {
      margin-bottom: 15px; }
    .chat .chat-history .message-data-time {
      color: #a8aab1;
      padding-left: 6px; }
    .chat .chat-history .message {
      color: white;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 30px;
      width: 90%;
      position: relative; }
      .chat .chat-history .message:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #86BB71;
        border-width: 10px;
        margin-left: -10px; }
    .chat .chat-history .my-message {
      background: #86BB71; }
    .chat .chat-history .other-message {
      background: #94C2ED; }
      .chat .chat-history .other-message:after {
        border-bottom-color: #94C2ED;
        left: 93%; }
  .chat .chat-message {
    padding: 30px; }
    .chat .chat-message textarea {
      width: 100%;
      border: none;
      padding: 10px 20px;
      font: 14px/22px "Lato", Arial, sans-serif;
      margin-bottom: 10px;
      border-radius: 5px;
      resize: none; }
    .chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
      font-size: 16px;
      color: gray;
      cursor: pointer; }
    .chat .chat-message button {
      float: right;
      color: #94C2ED;
      font-size: 16px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      font-weight: bold;
      background: #F2F5F8; }
      .chat .chat-message button:hover {
        color: #75b1e8; }

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px; }

.online {
  color: #86BB71; }

.offline {
  color: #E38968; }

.me {
  color: #94C2ED; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.float-right {
  float: right; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

li{
  list-style: none;
}

/*===== CSS OF LOGIN ======*/

img {
  vertical-align: middle;
  max-width: 100%;
}
button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}

/* Container */
.container-login {
  position: absolute;
  width: 24em;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  animation: intro .7s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

/* Profile Card */
.profile {
  position: relative;
}
.profile--open {
}
.profile--open .profile__form {
  visibility: visible;
  height: auto;
  opacity: 1;
  transform: translateY(-6em);
  padding-top: 12em;
}
.profile--open .profile__fields {
  opacity: 1;
  visibility: visible;
}
.profile--open .profile__avatar {
  transform: translate(-50%, -1.5em);
  border-radius: 50%;
}
.profile__form {
  position: relative;
  background: #2E465E;
  /*visibility: hidden;*/
  opacity: 0;
  height: 0;
  padding: 3em;
  border-radius: .25em;
  -webkit-filter: drop-shadow(0 0 2em rgba(0,0,0,0.2));
  transition:
    opacity .4s ease-in-out,
    height .4s ease-in-out,
    transform .4s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    padding .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.profile__fields {
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.profile__avatar {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1.25em;
  overflow: hidden;
  width: 4.5em;
  height: 4.5em;
  display: block;
  transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  will-change: transform;
}
.profile__avatar:focus {
  outline: 0;
}
.profile__footer {
  padding-top: 1em;
}


/* Form */
.field {
  position: relative;
  margin-bottom: 2em;
}
.label {
  position: absolute;
  height: 2rem;
  line-height: 2rem;
  bottom: 0;
  color: #999;
  transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.input {
  width: 100%;
  font-size: 100%;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 2rem;
  line-height: 2rem;
  border-bottom: 1px solid #eee;
  color: #777;
  transition: all .2s ease-in;
}
.input:focus {
  outline: 0;
  border-color: #ccc;
}

/* Using required and a faux pattern to see if input has text from http://stackoverflow.com/questions/16952526/detect-if-an-input-has-text-in-it-using-css */
.input:focus + .label,
input:valid + .label {
  transform: translateY(-100%);
  font-size: 0.75rem;
  color: #ccc;
}

/* Button */
.btn {
  border: 0;
  font-size: 0.75rem;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1.5rem;
  color: white;
  background: #5F779A;
  text-transform: uppercase;
  border-radius: .25rem;
  letter-spacing: .2em;
  transition: background .2s;
}
.btn:focus {
  outline: 0;
}
.btn:hover,
.btn:focus {
  background: #A678E2;
}

.title-login {
  color: #fff;
  z-index: 999;
  position: absolute;
  text-align: center;
  width: 100%;
}

/* Intro animation */
@keyframes intro {
  from {
    opacity: 0;
    top: 0;
  }
  to {
    opacity: 1;
    top: 50%;
  }
}

.container-link-register {
  text-align: center;
  margin-bottom: 20px
}

.link-register {
  color: #fff;
  font-size: 20px
}

.people-list ul {
  overflow-y: auto;
}
